// App variables

$base-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$base-font-size: 15px;
$base-font-size-small: 12px;

$color-gray: #222;
$color-gray-normal: #555;
$color-gray-light: #777;
$color-gray-lighter: #eee;

$color-primary: #337ab7;
$color-success: #5cb85c;
$color-info: #5bc0de;
$color-warning: #f0ad4e;
$color-danger: #d9534f;

$text-color: $color-gray;

$text-size-sm: .8rem;
$text-size: 1rem;
$text-size-lg: 1.12rem;

$gutter-width: 15px;
$screen-small: 768px;
